body {
 	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif !important;
	background: #DFE0E2 !important;
	color: #384048 !important;
}

.my-tasks {
 	font-family: 'Rubik', sans-serif;
	color: #384048;
}

.navbar {
	background-color: #384048 !important;
}

.card, .card-header {
	color: #384048 !important;
}

.card-header {
	border: 0px !important;
}

.project-item, .task-item {
	color: #384048;
}

.project-item:hover, .task-item:hover {
	background-color: #b8c0c8 !important;
	color: #384048;
}

.task-list-link {
	color: #384048;
}

.task-list-link:hover {
	color: #384048;
	text-decoration: none;
}

.completed-task {
	text-decoration: line-through !important;
	color: gray;
}
